.main-container {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vh, 2rem);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(0.5rem, calc(1vh + 0.5rem), 2rem);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: clamp(0.75rem, 2vh, 2rem) 0;
}

.icon-container {
  aspect-ratio: 1;
  width: 100%;
  max-width: 142px;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: wiggle 4s linear infinite;
  animation-fill-mode: backwards;
}

.page-header {
  text-align: right;
  padding: var(--spacing-4);
}

.main-title {
  font-family: var(--font-family-secondary);
  font-size: var(--text-xl);
  color: var(--color-text);
  margin: 0;
  margin-bottom: var(--spacing-2);
  text-align: right;
  font-style: italic;
  font-weight: 700;
  line-height: 94%; 
}

.sub-title {
  font-family: var(--font-family-primary);
  font-size: var(--text-lg);
  color: var(--color-text);
  margin: 0;
  color: #000;
  text-align: right;
  font-family: SimplerPro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; 
  letter-spacing: 0.2px;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-in-out;
  }
  10% {
    transform: rotate(-7deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(7deg);
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  background-image: url("/pattern.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.nav-buttons {
  position: fixed;
  bottom: clamp(1rem, 4vh, 3rem);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 480px) {
  .icon-container {
    max-width: 115px;
  }
  .grid-container {
    max-width: 900px;
    gap: 0.55rem;
    padding: 1rem 0;
  }
  
  .main-title {
    font-size: 1.5rem;
  }
  
  .sub-title {
    font-size: 1rem;
  }

  .nav-buttons {
    bottom: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .icon-container {
    max-width: 120px;
  }
}

@media screen and (min-height: 800px) {
  .icon-container {
    max-width: 160px;
  }
}

@media screen and (max-height: 667px) {
  .icon-container {
    max-width: 100px;
  }
}