.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    min-height: 100vh;
    background: var(--color-background-secondary);
    padding: 30px 20px 20px 40px;
}

.dictionaryContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--spacing-6);
    height: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.63rem;
    overflow: auto;
    padding-bottom: 7.5rem;
    /**todo: better way?*/
    height: 100%;
}

.dictionaryTitle {
    font-family: var(--font-family-secondary);
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: var(--text-3xl);
    text-align: right;
    color: var(--color-text);
    margin: 0;
    margin-right: 1.25rem;

    text-decoration-line: underline;
    text-decoration-color: var(--color-accent);
    text-decoration-skip-ink: none;
    /**todo: make the rectangle slanted + wider*/
}

.searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    width: 2.5rem;
    height: 2.2rem;
    border: 1px solid black;
    border-radius: var(--container-padding);
    transition: width 0.3s ease-out;
}

.searchBarContainerActive {
    width: 14.3rem;
}

.searchBar {
    margin-right: 1.25rem;
    border: none;
    outline: none;
    background: transparent;
    transition: opacity 0.3s ease-out;
}

.searchIcon {
    position: absolute;
    margin-right: 0.44rem;
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
    color: var(--color-text);
    transform: rotate(90deg);
}

.dictionaryListContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 100%;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 0;
}

.dictionaryList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
}

@media (min-width: 1px) {

    .dictionaryListContainer::-webkit-scrollbar {
        width: 5px;
    }

    .dictionaryListContainer::-webkit-scrollbar-track,
    .scrollbar-visible::-webkit-scrollbar-track {
        border-radius: 2px;
        background: #C5C5C545;
    }

    .dictionaryListContainer::-webkit-scrollbar-thumb,
    .scrollbar-visible::-webkit-scrollbar-thumb {
        background: var(--color-disabled);
        border-radius: 2px;
    }
}

.topicGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2.38rem;
    padding: 1.25rem;
}

.topicTitle {
    font-family: var(--font-family-secondary);
    font-size: var(--text-2xl);
    font-style: italic;
    font-weight: 400;
    line-height: 22.56px;
    text-align: right;
    color: var(--color-text);
    margin: 0;

    text-decoration-line: underline;
    text-decoration-color: var(--color-accent);
    text-decoration-skip-ink: none;

}

.entriesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.88rem;
}

.dictionaryEntry {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.entryTitle {
    font-family: var(--font-family-secondary);
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: var(--text-2xl);
    letter-spacing: 0.01em;

    color: var(--color-accent-secondary);
    margin: 0;
}

.entryDescription {
    font-family: var(--font-family-priamry);
    font-size: var(--text-xl);
    font-weight: 400;
    line-height: 22.2px;
    letter-spacing: 0.01rem;

    color: var(--color-text);
    margin: 0;
}

.noResultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;
    direction: rtl;
}

.noResultsHeader {
    font-family: var(--font-family-secondary);
    font-size: var(--text-2xl);
    font-style: italic;
    font-weight: 400;
    line-height: 22.56px;
    text-align: center;
    color: var(--color-accent-secondary);
    margin: 0;
}

.noResultsText {
    font-family: var(--font-family-secondary);
    font-size: var(--text-xl);
    font-style: italic;
    font-weight: 400;
    line-height: 22.2px;
    letter-spacing: 0.01rem;
    text-align: center;
    color: var(--color-text);
    margin: 0;
}

.closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: var(--color-text);
    z-index: 1000;
}