.notebookContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    position: relative;
    background: var(--color-background-secondary);
}

.sidebar {
    padding-bottom: 10px;
    top: 100px;
    position: fixed;
    left: 0;
    height: calc(100vh - 82px);
    width: 54px;
    overflow-y: auto;
    z-index: 10;
}

.topicGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.topic {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-background);
    border-radius: 16px 0 0 16px;
    border: 1px solid #D5D2FF;
    box-shadow: 0px 0.5px 1px 0px #00000040;

    width: 2.5rem;
    height: 9rem;

    margin-left: -0.9rem;
    margin-bottom: -0.6rem;
    margin-top: -0.6rem;

    cursor: pointer;
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    font-family: var(--font-family-secondary);
    font-style: italic;
    font-weight: 400;
    line-height: 1.8rem;
    font-size: var(--text-xl);
    text-align: right;

    color: var(--color-text);
    transition: all 0.3s ease-out;
}

.topic.selected {
    background: #D5D2FF;
}

.content {
    padding: 40px 20px 20px 60px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.notesSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;
}

.sectionHeader {
    font-family: var(--font-family-secondary);
    font-size: var(--text-3xl);
    font-style: italic;
    font-weight: 400;
    line-height: var(--text-3xl);
    text-align: right;
    color: var(--color-text);
    margin: 0;
    text-decoration-line: underline;
    text-decoration-color: var(--color-accent);
    text-decoration-skip-ink: none;
}

.stickersArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    overflow: hidden;
}


.sticker {
    object-fit: contain;
}

.notesContainer {
    width: 100%;
}

.additionalFieldsContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.fieldLabel {
    font-family: var(--font-family-secondary);
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 28.6px;
    letter-spacing: 0.01em;
    text-align: right;

    color: var(--color-text);
}

.inputContainer {
    width: 100%;
    border-radius: 24px;
    border: 2px solid var(--color-secondary);
    background-color: var(--color-background);
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: var(--text-xl);
    line-height: var(--text-xl);
    color: var(--color-text);
    padding: 8px 16px;
    box-sizing: border-box;
}

.inputContainer:focus {
    border: 2px solid #A585E5;
    outline: none;
    box-shadow: 2px rgba(165, 133, 229, 0.1);
}

.notesTextarea {
    width: 100%;
    border: none;
    background-color: var(--color-background-secondary);
    font-size: 1rem;
    line-height: 1.5;
    resize: none;
    overflow: hidden;

    font-family: var(--font-family-primary);
    font-size: var(--text-xl);
    font-weight: 400;
    line-height: var(--text-2xl);
    direction: rtl;
    box-sizing: border-box;
}

.notesTextarea:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.nonClickable {
    cursor: not-allowed;
    color: var(--color-disabled);
    pointer-events: none;
}

.closeButton {
    position: absolute;
    top: 0.6rem;
    left: 3rem;
    cursor: pointer;
    color: var(--color-disabled);
}

.separator {
    border-top: 1px dashed var(--color-disabled);
}

.loadingNote {
    width: 24px;
    height: 24px;
    color: var(--color-accent);
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}