.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--color-background);
  background-image: url('/pattern.svg');
  background-size: cover;
  background-position: center;
  padding-top: calc(130 / 852 * 100vh);
  position: relative;
  overflow-x: hidden;
}

.main {
  width: 100%;
  padding: 0 var(--spacing-8);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(20 / 852 * 100vh);
  max-width: 100%;
  overflow-x: hidden;
}

/* Common elements for both states */
.titleMain {
  margin-left: calc(49 / 393 * 100vw);
  align-self: flex-start;
}

.subtitleMain {
  margin-top: calc(60 / 852 * 100vh);
  margin-left: calc(55 / 393 * 100vw);
  align-self: flex-start;
}

.introText {
  font-family: var(--font-family-priamry);
  font-weight: 400;
  font-size: var(--text-xl);
  line-height: var(--text-xl);
  color: var(--color-text);
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2.25rem;
  width: 100%;
}

.inputContainer {
  width: 100%;
  padding: 4px 16px 3px 16px;
  border: 2px solid var(--color-accent);
  border-radius: 24px;
  height: calc(42 / 852 * 100vh);
  background: var(--color-background);
  color: #CECBFF;
  text-align: right;
  font-family: var(--font-family-primary);
  font-size: calc(20 / 852 * 100vh);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inputContainer::placeholder {
  color: #CECBFF;
}

.inputContainer:focus {
  border: 2px solid var(--color-accent);
  outline: none;
}

.inputContainer:focus-visible {
  border: 2px solid var(--color-accent);
  outline: none;
}

.error {
  border: 2px solid #FC4343;
}

.loginForm button {
  padding: 4px 18px;
  background-color: var(--color-accent);
  border: none;
  border-radius: 20px;
  cursor: pointer;

  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: var(--text-2xl);
  line-height: 31px;
  font-style: italic;
  color: var(--color-text);
  transition: transform 0.2s ease;
  margin-right: auto;
}

/* Common footer elements */
.registerQuestionGoogle {

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: calc(286 / 393 * 100vw);
  white-space: nowrap;
  margin-top: calc(120 / 852 * 100vh); 
}

.registerQuestionEmail {

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: calc(286 / 393 * 100vw);
  white-space: nowrap;
  margin-top: calc(100 / 852 * 100vh);
}

.registerQuestion a {
  white-space: nowrap;
}

.registerLink {
  color: var(--color-accent);
  font-family: var(--font-family-secondary);
  text-decoration: underline;
}

.orText {

  color: var(--color-text);
  text-align: center;
  width: 100%;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: calc(30 / 852 * 100vh);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.buttonBase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(316 / 393 * 100vw);
  height: calc(42 / 852 * 100vh);
  background: var(--color-background);
  border: 2px solid var(--color-accent);
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.2s;
  color: var(--color-text);
  font-family: var(--font-family-priamry);
  font-size: calc(20 / 852 * 100vh);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: flex-start;
  margin-left: calc(46 / 393 * 100vw);
}

.buttonBase:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.googleLoginState {
  composes: loginContainer;
}

.googleLoginSubtitle {
  composes: subtitleMain;
}

.googleButton {
  composes: buttonBase;
  margin-top: calc(80 / 852 * 100vh);
  padding-right: calc(16 / 393 * 100vw);
  padding-left: calc(16 / 393 * 100vw);
  justify-content: flex-start;
}

.googleIcon {
  width: calc(26 / 393 * 100vw);
  height: calc(26 / 852 * 100vh);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(10 / 393 * 100vw);
}

.googleButtonText {
  display: flex;
  width: calc(224 / 393 * 100vw);
  height: calc(20 / 852 * 100vh);
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--color-text);
  text-align: right;
  font-family: var(--font-family-priamry);
  font-size: calc(20 / 852 * 100vh);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.toggleMethodButton {
  composes: buttonBase;
  margin-top: calc(30 / 852 * 100vh);
  justify-content: center;
}

.emailLoginContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.emailLoginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: calc(30 / 852 * 100vh);
}

.inputRow {
  margin-left: calc(46 / 393 * 100vw);
  width: calc(316 / 393 * 100vw);
}

.emailButton {
  composes: button-base from global;
  width: 132px;
  margin-top: calc(30 / 852 * 100vh);
  align-self: center;
  font-size: 24px;
}

.forgotPassword {


  margin-top: calc(-125 / 852 * 100vh);
  align-self: right;
}

.forgotPassword a {
  color: var(--color-accent);
  text-decoration: underline;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forgotPassword a:hover {
  text-decoration: none;
}

.emailLoginGoogleButton {
  composes: googleButton;

  margin-top: calc(15 / 852 * 100vh);
}

.emailLoginContainer .registerQuestion {
  top: calc(100 / 852 * 100vh);
}

.errorMessage {

  color: #F00;
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: calc(10 / 852 * 100vh);
}