.toggleSwitch {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-accent);
  transition: 0.4s;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  color: #000;
  text-align: center;
  font-family: SimplerPro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.toggleSlider::before {
  content: '';
  position: absolute;
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  z-index: 2;
}

.toggleSwitch input:checked + .toggleSlider {
  background-color: var(--color-primary);
}

.toggleSwitch input:checked + .toggleSlider::before {
  transform: translateX(53px);
}

.toggleSlider::after {
  content: 'נקבה';
  position: absolute;
  right: 12px;
  z-index: 1;
  transition: 0.4s;
}

.toggleSwitch input:checked + .toggleSlider::after {
  content: 'זכר';
  right: auto;
  left: 12px;
}

.small {
  width: 70px;
  height: 30px;
}

.small .toggleSlider {
  font-size: 14px;
}

.small .toggleSlider::before {
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
}

.small input:checked + .toggleSlider::before {
  transform: translateX(40px);
}

.medium {
  width: 93px;
  height: 40px;
}

.medium .toggleSlider {
  font-size: 18px;
}

.medium .toggleSlider::before {
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
}

.medium input:checked + .toggleSlider::before {
  transform: translateX(53px);
}

.large {
  width: 120px;
  height: 50px;
}

.large .toggleSlider {
  font-size: 20px;
  border-radius: 25px;
}

.large .toggleSlider::before {
  height: 40px;
  width: 40px;
  left: 5px;
  bottom: 5px;
}

.large input:checked + .toggleSlider::before {
  transform: translateX(70px);
}

.toggleSwitch input:disabled + .toggleSlider {
  opacity: 0.6;
  cursor: not-allowed;
}

.toggleSwitch input:disabled + .toggleSlider::before {
  background-color: #f0f0f0;
} 