.sticker-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
  width: 150px;
  height: 150px;
}

.milestone-sticker {
  margin: calc(10 / 852 * 100vh) auto calc(10 / 852 * 100vh);
  width: 160px;
  height: 160px;
  display: block;
  position: relative;
  overflow: visible;
}

.sticker-animation-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) scale(1.2);
  transform-origin: center;
  pointer-events: none;
  z-index: 2;
}

.sticker-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.sticker-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
}

.animate-to-notebook {
  animation: floatToNotebook 2s ease-in-out forwards;
}

.milestone-sticker.revealing .sticker-image {
  opacity: 1;
}

.sticker-image-final {
  z-index: 3;
}

@keyframes floatToNotebook {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
    opacity: 1;
  }
  
  50% {
    transform: translate(-25vw, 20vh) scale(0.8) rotate(-10deg);
    opacity: 0.8;
  }
  
  100% {
    transform: translate(-50vw, 40vh) scale(0.5) rotate(-20deg);
    opacity: 0;
  }
} 