  /**todo: get from the girls*/
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #FCFFFA;
  }

  .main {
    width: 100%;
    padding: 0 var(--spacing-8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
  }


  .introText {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: var(--text-xl);
    line-height: var(--text-xl);
    color: black;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.25rem;
    width: 100%;
  }

  .inputContainer {
    width: 100%;
    padding: 4px 16px 3px 0px;
    border: 2px solid #E6E4FF;
    border-radius: 24px;
    background-color: #FFFFFF;

    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: var(--text-xl);
    line-height: var(--text-xl);
  }

  .inputContainer::placeholder {
    color: black;
  }

  .inputContainer:focus {
    border: 2px solid #A585E5;
    outline: none;
  }

  .inputContainer:focus-visible {
    border: 2px solid #A585E5;
    outline: none;
  }

  .error {
    border: 2px solid #FC4343;
  }

  .loginForm button {
    padding: 4px 18px;
    background-color: #A585E5;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    font-family: var(--font-family-secondary);
    font-weight: 400;
    /**todo: too thick?*/
    font-size: var(--text-2xl);
    line-height: 31px;
    font-style: italic;
    color: black;
    transition: transform 0.2s ease;
    margin-right: auto;
  }

  .loginForm button:hover {
    transform: scale(1.05);
    /**todo: want hover?*/
  }