  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-background-secondary);
    background-image: url('/pattern.svg');
    background-size: cover;
    background-position: center;
  }

  .main {
    width: 100%;
    padding: 0 var(--spacing-8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
  }


  .introText {
    font-family: var(--font-family-priamry);
    font-weight: 400;
    font-size: var(--text-xl);
    line-height: var(--text-xl);
    color: var(--color-text);
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.25rem;
    width: 100%;
  }

  .inputContainer {
    width: 100%;
    padding: 4px 16px 3px 0px;
    border: 2px solid var(--color-secondary);
    border-radius: 24px;
    background-color: var(--color-background);

    font-family: var(--font-family-priamry);
    font-weight: 400;
    font-size: var(--text-xl);
    line-height: var(--text-xl);
  }

  .inputContainer::placeholder {
    color: var(--color-text)
  }

  .inputContainer:focus {
    border: 2px solid #A585E5;
    outline: none;
  }

  .inputContainer:focus-visible {
    border: 2px solid #A585E5;
    outline: none;
  }

  .error {
    border: 2px solid #FC4343;
  }

  .loginForm button {
    padding: 4px 18px;
    background-color: var(--color-accent);
    border: none;
    border-radius: 20px;
    cursor: pointer;

    font-family: var(--font-family-secondary);
    font-weight: 400;
    font-size: var(--text-2xl);
    line-height: 31px;
    font-style: italic;
    color: #210E46;
    transition: transform 0.2s ease;
    margin-right: auto;
  }

  .loginForm button:hover {
    color: var(--color-background);
  }