.progress-bar-container {
  display: flex;
  justify-content: flex-start; 
  gap: 8px;
  margin-bottom: 16px;
  margin-right: 16px; 
}

.progress-bar-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #EFEFEF;
}

.progress-bar-dot.completed {
  background-color: var(--color-primary);
}
