/* topic.css */
.topic-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.topic-page {
  overflow-y: auto;
  margin-top: calc(10 / 852 * 100vh);
  margin-bottom: calc(58 / 852 * 100vh);
  position: relative;
}

.topic-content {
  width: 100%;
  max-width: 337px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 8px;
  overflow-x: hidden;
}

.topic-title {
  padding-top: calc(31 / 852 * 100vh);
  margin-top: calc(-12 / 852 * 100vh);
  margin-bottom: calc(2 / 852 * 100vh);
  margin-right: calc(10 / 393 * 100vw);
  color: var(--color-text);
  text-align: right;
  font-family: var(--font-family-secondary);
  font-size: 32px;
  font-style: italic;
  font-weight: 900;
  line-height: 125%;
  position: relative;
  display: inline-block;
  width: fit-content;
}

.topic-title::after {
  content: "";
  position: absolute;
  bottom: 7px;
  right: 0;
  left: 0;
  height: 3px;
  background-color: var(--color-accent);
}

.topic-description {
  padding-top: calc(5 / 852 * 100vh);
  width: 80%;
  color: #000;
  text-align: right;
  font-family: SimplerPro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.milestones-container {
  padding-top: calc(15 / 852 * 100vh);
  gap: calc(20 / 852 * 100vh) !important;
  display: flex;
  flex-direction: column;
  gap: calc(40 / 852 * 100vh);
  width: 100%;
  overflow-x: hidden;
}

.milestone-link {
  text-decoration: none;
  width: 100%;
  display: block;
}

.milestone-button {
  width: 100%;
  height: 55px;
  background-color: var(--color-accent);
  border: none;
  border-radius: 27.5px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-family-primary);
  transition: transform 0.2s ease;
}

.milestone-button.completed {
  color: #ffffff;
  background-color: var(--color-accent);
}

.milestone-button.incomplete {
  background-color: var(--color-disabled);
  color: var(--color-text-disabled);
}

.milestone-text {
  padding-right: calc(20 / 393 * 100vw);
  text-align: right;
  font-size: 22px;
  font-style: italic;
  /* width: 100%; */
  font-family: var(--font-family-secondary);
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.22px;
}

.milestone-button:hover,
.milestone-button:focus {
  transform: scale(1.02);
}

.side-nav-buttons {
  position: fixed;
  bottom: calc(58 / 852 * 100vh);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  pointer-events: none;
  z-index: 1000;
}

.side-nav-buttons > * {
  pointer-events: auto;
}


.dictionary-term {
  color: var(--color-accent);
  font-family: Sunday;
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.22px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  z-index: 1;
}

.dictionary-term::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  height: 1px;
  background-image: linear-gradient(to right, #9895f4 50%, transparent 50%);
  background-size: 6px 1px;
  background-repeat: repeat-x;
  z-index: 2;
}

/* Responsive adjustments */
@media (width: 393px) {
  /* .topic-page {
        height: 852px;
    } */

  .topic-content {
    gap: 4px;
  }

  .topic-title {
    margin: 4px 0;
    margin-top: 0;
  }

  .topic-description {
    margin-bottom: 6px;
  }

  .milestones-container {
    gap: 8px;
    margin-top: 4px;
  }
}

.close-button {
  position: fixed;
  height: 30px; 
  width: 30px;
  top: calc(110 / 852 * 100vh);
  left: 1rem;
  cursor: pointer;
  z-index: 1001;
  color: var(--color-disabled);
}

