@import url("reset.css");
/* This is a custom font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* what is :root? https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
:root {
  --color-primary: #c1ff7e;
  --color-secondary: #e6e4ff;
  --color-accent: #9895f4;
  --color-accent-secondary: #7d79f0;
  --color-background-secondary: #FCFFFA;

  --color-background: #FCFFFA;
  --color-text: #000000;
  --color-disabled: #cdcdcd;
  --color-border: rgba(0, 0, 0, 0.12);
  /*לבדוק אם נחוץ*/

  --color-hover: rgba(193, 255, 126, 0.1);
  /*לבדוק אם נחוץ*/
  --color-active: rgba(193, 255, 126, 0.2);
  /*לבדוק אם נחוץ*/

  --border-radius: 0.5rem;

  --font-family-primary: "SimplerPro", sans-serif;
  --font-family-secondary: "Sunday", serif;

  --text-xs: 0.75rem;
  /* 12px */
  --text-sm: 0.875rem;
  /* 14px */
  --text-base: 1rem;
  /* 16px */
  --text-lg: 1.125rem;
  /* 18px */
  --text-xl: 1.25rem;
  /* 20px */
  --text-2xl: 1.5rem;
  /* 24px */
  --text-3xl: 1.875rem;
  /* 30px */

  --leading-tight: 1.1;
  --leading-normal: 1.5;
  --leading-loose: 1.75;

  --spacing-1: 0.25rem;
  /* 4px */
  --spacing-2: 0.5rem;
  /* 8px */
  --spacing-3: 0.75rem;
  /* 12px */
  --spacing-4: 1rem;
  /* 16px */
  --spacing-6: 1.5rem;
  /* 24px */
  --spacing-8: 2rem;
  /* 32px */

  /* Layout */
  --container-padding: 1.5rem;
  --max-width-sm: 24rem;
  /* 384px */
  --max-width-md: 28rem;
  /* 448px */
  --max-width-lg: 32rem;
  /* 512px */

  /* Border Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xlg: 1.5rem;
  --radius-full: 9999px;

  /* --font-titles: "Rubik", serif;
  --font-body: system-ui, sans-serif; */
  /* system-ui matches the user's system font */
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-family-primary);
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Layout */
.container {
  width: 100%;
  max-width: var(--max-width-md);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

main {
  /* max-width: 60rem;
  padding: 2rem;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 0;
  padding: var(--spacing-8);
  width: 100%;
  /* height: 100%; */
}

header {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--color-background);

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

footer {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  nav {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  h1 {
    font-size: 2rem;
  }

  .rtl {
    direction: rtl;
  }
}

@media (max-width: 480px) {
  header {
    padding: 1rem;
  }

  main {
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }

  nav {
    gap: 0.5rem;
  }

  .counter-button {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
  }
}

.rtl {
  direction: rtl;
}

/* Text */
p {
  margin: 1rem 0;
}

ul,
ol {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-family: var(--font-titles);
  font-weight: 500;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--color-secondary);
}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0.5rem;
  border: 1px solid var(--color-secondary);
}

/* Forms */
input,
button,
textarea,
select {
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

fieldset {
  margin-top: 1.5rem;
  border: 1px solid var(--color-secondary);
}

.counter-button {
  background-color: var(--color-accent);
  width: 2rem;
  height: 2rem;
  color: white;
  border: none;
  border-radius: 1000px;
  /* Make the button round */
  cursor: pointer;
  font-weight: bold;

  &:hover {
    filter: brightness(120%);
  }

  &:active {
    filter: brightness(80%);
  }
}

/*rotem*/
@font-face {
  font-family: "SimplerPro";
  src: url("./fonts/SimplerPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SimplerPro";
  src: url("./fonts/SimplerPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SimplerPro";
  src: url("./fonts/SimplerPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sunday";
  src: url("./fonts/Sunday-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Sunday";
  src: url("./fonts/Sunday-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Sunday";
  src: url("./fonts/Sunday-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sunday";
  src: url("./fonts/Sunday-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Sunday";
  src: url("./fonts/Sunday-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sunday";
  src: url("./fonts/Sunday-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Sunday";
  src: url("./fonts/Sunday-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sunday";
  src: url("./fonts/Sunday-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

.text-primary {
  color: var(--color-text);
  text-align: right;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-stroke);
}

.font-primary {
  font-family: var(--font-family-primary);
}

.font-secondary {
  font-family: var(--font-family-secondary);
  font-style: italic;
}

.font-size-small {
  font-size: var(--font-size-small);
  line-height: var(--line-height-loose);
}

.font-size-medium {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-tight);
}

.font-size-large {
  font-size: var(--font-size-large);
  line-height: var(--line-height-normal);
}

.font-size-xlarge {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-loose);
}

.letter-spacing {
  letter-spacing: 0.2px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1.3s linear infinite;
}