.menuContainer {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: clamp(110px, 28vw, 140px);
  z-index: 1000;
}

.menuContent {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menuButton {
  width: 100%;
  padding: 6px 12px;
  text-align: right;
  background-color: var(--color-primary);
  border: none;
  color: var(--color-text);
  font-size: 14px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  transition: background-color 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  border-radius: 10px;
}

.menuButton:hover {
  background-color: var(--color-background); 
}
