.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 0.2rem;
  flex-direction: row-reverse;
  border-radius: 0 0 1rem 1rem;
  z-index: 20;
  position: relative;
}

.menuButton,
.logoButton {
  background: none;
  border: none;
  cursor: pointer;
}

.menuIcon {
  width: 27px;
  height: 27px;
}

.logoIcon {
  width: 70px;
  height: 70px;
}

.dropdownButton {
  width: 100%;
  text-align: right;
  padding: 0.5rem 1rem;
  background-color: #90ee90;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.dropdownButton:hover {
  background-color: #7ccd7c;
}
